<style>
    body {
        background-color: hsl(217, 54%, 11%);
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        align-items: center;
    }

    header {
        height: 100px;
        padding: 0px 30px;
        border-bottom: 2px solid hsl(216, 50%, 16%);
        box-shadow: 0px 5px 20px hsl(0, 0%, 100%);
    }

    @media only screen and (min-width:660px){
        header {
            padding: 10px 70px 0px 50px;
        }
    }

    @media only screen and (min-width:960px){
        header {
            padding: 10px 100px 0px 100px;
            height: 150px;
        }
    }
    
    .navbar{
        font-size: 25px;
    }

    a{
        color: hsl(215, 50%, 70%);
    }

    .logo {
        color: hsl(215, 50%, 70%);
        font-size: 22px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    @media only screen and (min-width:960px){
        .logo {
            font-size: 32px;
        }
    }

    .carrito {
        font-size: 25px;
        position: relative;
    }

    @media only screen and (min-width:660px){
        .carrito{
            font-size: 30px;
        }
    }

    @media only screen and (min-width:960px){
        .carrito {
            font-size: 40px;
        }
    }

    button {
        background-color: hsl(217, 54%, 11%);
        padding: 5px 10px;
        border: none;
    }

    i{
        position: absolute;
        top:10px;
        right: 0px;
    }

    span{
        font-size: 12px;
        color: hsl(217, 54%, 11%);
        font-weight: bold;
        position: absolute;
        top:10px;
        right: 10px;
    }

    @media only screen and (min-width:960px){
        span{
            font-size: 18px;
            top:10px;
            right: 15px;
        }
    }

    .collapse{
        justify-content: right;
        padding-top: 25px;
    }

    .dropdown-menu{
        background-color: hsl(217, 54%, 11%);
        border-color: hsl(215, 50%, 70%);
    }
    .containerTarget{
        padding:50px 40px;
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        align-items: center;
    }

    .tarjeta {
        width: 200px;
        min-height: 430px;
        padding: 16px;
        margin: 0;
        margin: 50px;
        background-color: hsl(216, 50%, 16%);
        border-radius: 8px;
        box-shadow: 0px 15px 25px rgb(0, 0, 0,0.15);
    }
    .imagen {
        width: 100%;
        height: 170px;
        border-radius: 8px;
        position: relative;
    }        
    .coco {
        width: 100%;
        height: 170px;
    }
    .icono {
        width: 100%;
        height: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: hsl(178, 100%, 50%, 35%);
        transition: 1s;
        opacity: 0;
        position: absolute;
        top: 0px;
        border-radius: 8px;
    }
    .icono:hover {
        opacity: 1;
    }    
    .texto1 {
        color: hsl(0, 0%, 100%);
        font-weight: 600;
        transition: .25s;
        margin-top: .8em;
        margin-bottom: .8em;
    }
    .texto1:hover {
        cursor: pointer;
        color: hsl(178, 100%, 50%);
    }
    .texto2 {
        color: hsl(215, 50%, 70%);
        font-weight: 300;
        font-size: .8em;
    }
    .texto3 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .izquierda {
        display: flex;
        flex-direction: row;
        gap: .3em;
        font-weight: 400;
        font-size: .7em;
        color: hsl(178, 100%, 50%);
    }
    .centro {
        display: flex;
        flex-direction: row;
        gap: .3em;
        font-weight: 400;
        font-size: .7em;
        color: hsl(178, 100%, 50%);
    }
    .texto4 {
        display: flex;
        justify-content: center;
        text-decoration: none;
    }
    .comprar {
        position: relative;
        width: 100%;
        height:50px;
        border: 2px solid #fff;
        box-shadow: 0px 3px 15px #fff;
        background-color:  hsl(216, 50%, 16%);
        padding: 5px 10px;
        border-radius: 10px;
    }
    .fa-cart-arrow-down {
        position: absolute;
        right: 10px;
        top: 5px
        width: 25px;
        height: 25px;
    }
    .agregar {
        position: absolute;
        top: 10px;
        left: 0px;
        color: hsl(215, 50%, 70%);
        font-size: .7em;
        padding-top: .2em;
    }

</style>

    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a id="inicio" class="navbar-brand botonMenu logo" href="">Chemba</a>
                <div class="carrito">
                    <button>
                        <i class="fa-solid fa-cart-shopping" style="color: #8bacda;"></i>
                        <span id="numerito" class="numerito" style="color:  hsl(217, 54%, 11%);">0</span>
                    <button>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span><i class="fa-solid fa-bars fa-spin fa-spin-reverse" style="color: #8bacda;"></i></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a id="herramientas" class="nav-link botonMenu" href="#" style="color: #8bacda;">Herramientas</a>
                        </li>
                        <li class="nav-item">
                            <a id="fontaneria" class="nav-link botonMenu" href="#" style="color: #8bacda;">Fontanería</a>
                        </li>
                        <li class="nav-item">
                            <a id="electricidad" class="nav-link botonMenu" href="#" style="color: #8bacda;">Electricidad</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div>
        <h1 style="text-align: center; padding-top: 50px">Lista de productos</h1>
        <h2 style="text-align: center;">Hola {{user.firstName}}</h2>
        <div class="row containerTarget">
            {{#each products}}
                <section class="col-sm-12 col-md-6 col-lg-4 col-xl-4 tarjeta">    
                                <div class="imagen">
                                <img class="coco" src={{thumbnails}} alt="productPic">
                                    <div class="icono">
                                        <strong>STOCK<br>{{stock}}</strong>
                                    </div>
                                </div>
                                <div class="texto1">
                                    {{title}}
                                </div>
                                <div class="texto2">
                                    {{category}}
                                </div>
                                <div class="texto3">
                                    <div class="izquierda">
                                        <div>
                                            PRICE:  ${{price}}
                                        </div>
                                    </div>
                                    <div class="centro">
                                        <div>
                                            CODE:  {{code}}
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="texto4">
                                    <button class="comprar">
                                        <i class="fa-solid fa-cart-arrow-down" style="color: #ffffff;"></i>
                                        <span class="agregar">Agregar al carrito</span>
                                    </button>
                                </div>
                </section>
            {{/each}}
        </div>
    </div>


